.titulo{
    color:lightgray;
    text-align: initial;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.image{
   width: 300px;
   height: 300px;
}

.capa{
    background-color: lightgrey;
    color:black;
    font-size: x-large;
}
.fontes{
    font-size:medium;
    text-emphasis:inherit;
    
}

.flex-container{
 display: flex;

}

.linha{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}