#titulo{
    color:lightgray;
    text-align: initial;
    background-color: black;
}

.image{
   width: 300px;
   height: 300px;
}

.capa{
    background-color: lightgrey;
    color:black;
    font-size: x-large;
}
.fontes{
    font-size:medium;
    
}