p {
    font-size: x-large;
}
h1{
    color: brown;
}
.bunda {
    color: blue;
    font-size: x-large;
    text-align: center;
}
#cu {
    text-align: center;
    background-color: black;
    color: brown;
}